body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Avalon  Book */
@font-face {
  font-family: 'Avalon';
  src: url('fonts/avalon-book.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* Avalon  Bold */
@font-face {
  font-family: 'Avalon';
  src: url('fonts/avalon-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}